//colors
$black: #000;
$white-0: #fff;
$white-100: #fafcfe;
$dark-0: #121a48;
$dark-200: #afbedf;
$dark-300: #8c9bc0;
$dark-500: #465481;
$dark-600: #121a48;
$dark-1000: #02052a;
$light-0: #F5FFFA;
$light-100: #d9dbde;

//screen-size
$xxl: 1330px;
$xl: 1194px;
$lg: 992px;
$md: 767px;
$sm: 640px;
$xs: 360px;

//shadows
$shadow-1: 0 2px 4px 0 rgba(18, 26, 72, 0.08);
$shadow-2: 0 -2px 4px 0 rgba(18, 26, 72, 0.08);
